{% extends "auctions/layout.html" %}

{% block title %} Create Listing {% endblock %}

{% block body %}
  <h2>Create Listing</h2>
  <div id="container">
    <form action="{% url 'create_listing' %}" class="form-group mb-2" method="post" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-group" id="create-listing-form">
        {{ form }}
      </div>
      <button type="submit" class="btn btn-success" value="Post Listing">Post Listing</button>
    </form>
  </div>
{% endblock %}