{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ title }}</h2>
    {% block listings %}
        {% for listing in listings %}
            <div>
                <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
                <ul>
                    <li><b>Price</b>: ${{ listing.start_price }}</li>
                    <li><b>Description</b>: {{ listing.description }}</li>
                    <li><b>Posted</b>: {{ listing.datetime }} by {{ listing.poster }}</li>
                    {% if listing.image %}
                    <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
                    {% endif %}
                </ul>
            </div>
        {% empty %}
            <p>{{ empty_message }}</p>
        {% endfor %}
    {% endblock %}
{% endblock %}