{% extends "auctions/layout.html" %}
{% block body %}
    <h2>{{ listing.title }}</h2>
    {% if listing.current_bid %}
        <h3>${{ listing.current_bid }}</h3>
    {% else %}
        <h3>${{ listing.start_price }}</h3>
    {% endif %}

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
        <div>
            <ul>
                <li><b>Price</b>: ${{ listing.start_price }}</li>
                <li><b>Description</b>: {{ listing.description }}</li>
                <li><b>Posted</b>: {{ listing.datetime }} by {{ listing.poster }}</li>
                {% if listing.image %}
                <img src="{{ listing.image.url }}" alt="{{ listing.title }}">
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {% if on_watchlist %}
                        <input type="submit" name="watchlist" value="Remove from Watchlist">
                    {% else %}
                        <input type="submit" name="watchlist" value="Add to Watchlist">
                    {% endif %}
                </form>
                <form method="post">
                    {% csrf_token %}
                    {{ bid_form }}
                    <input type="submit" value="Place bid">
                </form>
                <form method="post">
                    {% csrf_token %}
                    {{ comment_form }}
                    <input type="submit" value="Post comment">
                </form>
            {% endif %}
        </div>
{% endblock %}